<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434690656483-1ugqr2q4hk5tf5tjoe5puaj55sv4ds3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434690656483-1ugqr2q4hk5tf5tjoe5puaj55sv4ds3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDqxt6a1sSM8H0BpQdZ07mtIJjDqudWMto</string>
	<key>GCM_SENDER_ID</key>
	<string>434690656483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapppractice</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b3d63</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b3d63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434690656483:ios:9ebbac17e40334933b5dd6</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-b3d63.firebaseio.com</string>
</dict>
</plist>